body {justify-content: center;
    margin-top: 100px;
    padding: 100px;}
.container{
    background-color:grey;}
h2{text-align:right;
    text-decoration:none;
    padding:5px 40px;
    font-family:serif; 
}
.formgroup{float:right;

}